In [1]:
import pandas as pd

ratings = pd.DataFrame({
    "eval": [4.7, 3.9, 4.1, 4.8, 4.3, 3.6, 4.9, 4.0, 3.7, 4.4,
             4.6, 3.8, 4.2, 4.5, 4.9, 3.5, 4.1, 3.9, 4.0, 4.7]
})

ratings

    eval
0    4.7
1    3.9
2    4.1
3    4.8
4    4.3
5    3.6
6    4.9
7    4.0
8    3.7
9    4.4
10   4.6
11   3.8
12   4.2
13   4.5
14   4.9
15   3.5
16   4.1
17   3.9
18   4.0
19   4.7

In [3]:
# Q1. Probability of receiving an evaluation score > 4.5
prob_q1 = (ratings["eval"] > 4.5).mean()
prob_q1

0.3

In [4]:
# Q2. Probability of receiving an evaluation score > 3.5 and < 4.2
prob_q2 = ((ratings["eval"] > 3.5) & (ratings["eval"] < 4.2)).mean()
prob_q2

0.45

Q3. Two-tailed Z-test (Comparison Problem)
Given:
Population mean (μ₀) = 12
Population SD (σ) = 5.5
Sample mean (x̄) = 10.7
Sample size (n) = 36

Step 1 — Hypotheses

Null Hypothesis H₀:
μ = 12
(The regional players' average points are not different from the historic mean)

Alternative Hypothesis H₁:
μ ≠ 12
(The regional players' average points are different from the historic mean)

In [6]:
# Step 2 — Compute Z-score
import numpy as np
mu0 = 12
sigma = 5.5
xbar = 10.7
n = 36

z = (xbar - mu0) / (sigma / np.sqrt(n))
z

-1.418181818181819

In [7]:
# Step 3 — Two-tailed p-value
import scipy.stats as st

p_value = 2 * (1 - st.norm.cdf(abs(z)))
p_value

0.15613768876786005

Interpretation
If p < 0.05, reject H₀ → scores are significantly different
If p ≥ 0.05, fail to reject H₀ → no significant difference